.DS_Store
obj

workspace.code-workspace
.gitignore

#Python
__pycache__/
*.py[cod]
*$py.class
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.#*
.python-version
.venv
.venv/
.vscode/
src-python/tests/call_textract_tables.py
src-python/tests/*.ipynb
src-python/tests/.ipynb_checkpoints
.env